<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="GrandPyBot">
    <meta name="author" content="Guillaume Maucort">
    <link rel="icon" href="../../favicon.ico">

    <title>GrandPyBot</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ url_for('static', filename='js/jquery/jquery-3.3.1.min.js') }}"></script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Bonjour mon grand. Qu'est-ce que tu recherches?</h1>

            <form action="/place">
              <div class="form-group search-margin">
                <input class="form-control" name="search_location"
                       id="add" value={{ research_location }}>
              </div>
            </form>

            <form action="/disamb">
              <button id="disambButton" name="search_location" value="{{ research_location }}">
                Ce n'est pas exactement ce que je recherche
              </button>
            </form>

            <div class="disamb_list" style="display:{{ disamb_display }}">

                {{ disamb_list }}

            </div>


            <div class="map_display" style="display:{{ map_display }}">
              <iframe
                width="600"
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key={{ config['GOOGLE_MAPS_API'] }}
                     &q={{ research_location }}" allowfullscreen>
              </iframe>
            </div>
            <div class="quote_display">{{ quote }}</div>

            </div>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery/jquery-3.3.1.js') }}"></script>


    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cover.js') }}"></script>

  </body>
</html>
